@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* SPECIAL CASE */

.menuOpen.active :first-child {
  transform: rotate(90deg);
  background-color: #fff;
  z-index: 2;
}
.menuOpen.active :nth-child(2) {
  background-color: #fff;
  transform: rotate(180deg);
  transform: translateY(-10px);
  z-index: 2;
}
.menuOpen.active :last-child {
  opacity: 0;
}

/* SPECIAL CASE */
body {
  overflow: hidden;
}
.menuOpen {
  display: none;
}
section {
  position: relative;
  padding: 15px 30px;
  width: 100%;
  height: 100vh;
  max-height: 650px;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 4;
}
.logo img {
  width: 60px;
  height: 60px;
}
.ul {
  display: flex;
  justify-content: space-between;
  width: 500px;
  list-style: none;
}
ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #017143;
  font-weight: 900;
}

.content {
  width: 85%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.textarea {
  position: relative;
  margin-top: 15px;
  flex: 0.5;
}
h1 {
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 3rem;
}
span {
  color: #017143;
}
.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 0.9rem;
  background: #017143;
  padding: 15px;
  border-radius: 40px;
  color: #fff;
  margin-top: 30px;
  transition: all ease 1s;
}
.btn:hover {
  background: #fff;
  color: #017143;
  border: 1px solid #017143;
}
.imgarea {
  transform: translateX(40px);
  flex: 0.3;
}
.imgarea img {
  width: 100%;
}
.thumbs {
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 30%;
  right: 40px;
  cursor: pointer;
  height: 150px;
}

.thumbs img {
  width: 20px;
  height: 20px;
  transition: ease 0.5s;
  filter: invert(1);
}
.thumbs img:hover {
  transform: translateX(10px);
}

.menu {
  cursor: pointer;
  width: 300px;
  margin: 0 auto;
  transform: translateY(-70px);
  z-index: 2;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu img {
  transition: ease-in-out 0.5s;
  width: 70px;
  height: 70px;
}
.menu img:hover {
  transform: translateX(10px);
}
.circle {
  position: absolute;
  top: 0;
  left: 0;
  background: #017143;
  width: 100%;
  height: 100%;
  clip-path: circle(600px at right 800px);
}
@media screen and (max-width: 790px) {
  section {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    max-height: 650px;
  }

  h1 {
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .content {
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  .textarea {
    width: 100%;
    position: relative;
  }
  .textarea p {
    font-size: 0.8rem;
    font-weight: 400;
  }
  .imgarea {
    transform: translateX(40px);
    flex: 0.4;
  }
  .ul {
    display: none;
  }
  .ul.active {
    position: absolute;
    display: grid;
  }
  .ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #017143;
  }
  .circle {
    transition: 1.5s all ease;
    clip-path: circle(500px at right 700px);
  }
  .menu {
    cursor: pointer;
    transform: translate(50px, 25px);
  }
  .menu ul {
    display: flex;
    width: 250px;
    justify-content: space-between;
    list-style: none;
  }
  .menu img {
    width: 50px;
    height: 50px;
  }
  /* SPECIAL CASE */
  .circle.active {
    clip-path: circle(410px at 750px 380px);
    z-index: 2;
  }
  .menuOpen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 35px;
    cursor: pointer;
  }
  .menuOpen span {
    height: 4px;
    width: 100%;
    transition: 0.5s all ease;
    background-color: #017143;
  }
  .menu {
    position: absolute;
    bottom: 35px;
    right: 70px;
    z-index: 56;
  }
  .ul.active {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-rows: repeat(4, 80px);
    place-items: center;
  }
  .thumbs.active{
    z-index: 56;
  }
  .ul.active li a {
    transition: 1.5s ease all;
    position: relative;
    left: 420px;
    top: 250px;
    z-index: 56;
    color: #fff;
  }
  /* SPECIAL CASE */
}
@media (max-width: 440px) {
  section {
    max-height: 600px;
    width: 100vw;
    padding: 5px 10px;
    height: 100vh;
  }
  .btn {
    font-size: 0.5rem;
    padding: 6px;
  }
  .imgy {
    transform: translate(-60px, 120px);
  }
  h1 {
    font-size: 0.8rem;
  }
  .textarea p {
    font-size: 0.5rem;
    line-break: auto;
  }

  .menuOpen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 35px;
    cursor: pointer;
  }
  .menuOpen span {
    height: 4px;
    width: 100%;
    transition: 0.5s all ease;
    background-color: #017143;
  }

  .circle {
    clip-path: circle(470px at right 700px);
  }
  .circle.active {
    clip-path: circle(410px at 450px 400px);
    z-index: 2;
  }
  .ul.active {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-rows: repeat(4, 80px);
    place-items: center;
  }
  .ul.active li a {
    transition: 1.5s ease all;
    position: relative;
    left: 120px;
    top: 250px;
    z-index: 56;
    color: #fff;
  }
  .thumbs.active {
    z-index: 56;
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 43%;
    right: 150px;
    cursor: pointer;
    height: 150px;
  }
}
