* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  overflow: hidden;
}
section {
  position: relative;
  padding: 15px 30px;
  width: 100%;
  height: 100vh;
  max-height: 650px;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 4;
}
.logo img {
  width: 60px;
  height: 60px;
}
.ul {
  display: flex;
  justify-content: space-between;
  width: 500px;
  list-style: none;
}
ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #017143;
  font-weight: 900;
}

.content {
  width: 85%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.textarea {
  position: relative;
  margin-top: 15px;
  flex: 0.5;
}
h1 {
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 3rem;
}
span {
  color: #017143;
}
.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 0.9rem;
  background: #017143;
  padding: 15px;
  border-radius: 40px;
  color: #fff;
  margin-top: 30px;
  transition: all ease 1s;
}
.btn:hover {
  background: #fff;
  color: #017143;
  border: 1px solid #017143;
}
.imgarea {
  transform: translateX(40px);
  flex: 0.3;
}
.imgarea img {
  width: 100%;
}
.thumbs {
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 30%;
  right: 40px;
  cursor: pointer;
  height: 150px;
}
.thumbs img {
  width: 20px;
  height: 20px;
  transition: ease 0.5s;
  filter: invert(1);
}
.thumbs img:hover {
  transform: translateX(10px);
}

.menu {
  cursor: pointer;
  width: 300px;
  margin: 0 auto;
  transform: translateY(-100px);
  z-index: 2;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu img {
  transition: ease-in-out 0.5s;
  width: 70px;
  height: 70px;
}
.menu img:hover {
  transform: translateX(10px);
}
.circle {
  position: absolute;
  top: 0;
  left: 0;
  background: #017143;
  width: 100%;
  height: 100%;
  clip-path: circle(600px at right 800px);
}

@media (max-width: 790px) {
  header {
    width: 100%;
    display: flex;
  }
  section {
    position: relative;
    width: 100%;
    max-height: 650px;
  }

  h1 {
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 2rem;
    line-height: 1.5;
  }
  .textarea p {
    font-size: 1.3rem;
  }
  .logo {
    margin-left: 20px;
  }
  .logo img {
    width: 50px;
    height: 50px;
  }
  ul {
    width: 80%;
    display: flex;
    list-style: none;
    padding-left: 40px;
  }
  ul li a {
    text-decoration: none;
    margin-left: 40px;
    font-size: 1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #017143;
  }

  .content {
    width: 100%;
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .textarea {
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-left: 5px;
  }
  .textarea p {
    /* font-size: 0.8rem; */
    word-wrap: break-word;
  }
  .circle {
    clip-path: circle(500px at right 700px);
  }
}
@media (max-width: 380px) {
  section {
    height: 100vh;
    width: 100%;
  }
  h1 {
    font-size: 0.8rem;
  }
  .textarea p {
    font-size: 0.5rem;
    line-break: auto;
  }
}
